#Don't track autosave files
*~

#Don't track anything that starts with '#' or '.#'
/#*
.#*

#Don't track build folders
build/
*/build/

# Don't track Visual Studio builds
RobotController/Debug/
RobotController/Release/
RobotController/x64/
RobotController/RobotController/Debug/
RobotController/RobotController/Release/
RobotController/RobotController/x64/

#Don't track shared objects (dynamic libraries)
*.so