<?xml version="1.0" ?>
<model>
    <name>Square Building</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Charles Hartsell</name>
        <email>charles.a.hartsell@vanderbilt.edu</email>
    </author>
    <description>
      Small, Square, Two-level building for testing iRobot Create
    </description>
</model>
